@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
    /* margin-bottom: 300vh; */
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;  
    align-content: center;  
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    position: sticky;
    top: 0;
    height: 60px;
    width: 100vw;
    
}

.menu li {
    list-style: none;
    display: inline-block;    
    margin: 30px;      
}

.menu a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.menu a:hover {
    color: hsla(162, 92%, 51%, 0.473);
    /* font-size: 25px; */
}

.picture{
    border-radius: 50%;
    padding: 10px;
    
}

.title span {
    color: #f27609;
}

.imagem {
    width: 20%; 
    float: left; 
    padding: 0 30px;   
}

.title {
    width: 80%;
    float: right;
    display: inline-flexbox;
    padding: 50px 0;      
    font-family: 'Roboto', sans-serif;  
    line-height: 50px;  
}

.title h1::first-letter {
    font-size: 64px;
}

.perfil {
    margin: 12px;
    clear: both;
    padding: 15px;
    background-color: rgba(204, 204, 204,0.3);
}

#contato img {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 100px;
}

.projeto1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2px;
}

section h3, ul, p {
    margin: 2px 20px;
}

.curriculum h3 {
    padding: 25px;
    font-size: 25px;
    font-family: 'Roboto', cursive;
}

.curriculum div {
    display: flex;    
    margin: 30px ;    
    align-items: center;
    line-height: 25px;
}

.tecnologia {
    display: flex;
}

.tecnologia img {
    width: 110px;
    display: flex;
    margin: 50px;
    
}


@media (max-width: 768px) {
    body {
        width: 200px;

    }
}

@media (max-width: 420px) {
    body {
        width: 100%;

    }
}



